[submodule "home-manager-private"]
	path = home-manager-private
	url = git@github.com:MacaylaMarvelous81/home-manager-private
[submodule "nixvim"]
	path = nixvim
	url = git@github.com:MacaylaMarvelous81/nixvim-conf
