[submodule "home-manager-private"]
	path = home-manager-private
	url = git@github.com:MacaylaMarvelous81/home-manager-private
[submodule "nix-exprs"]
	path = nix-exprs
	url = git@github.com:MacaylaMarvelous81/nix-exprs
[submodule "nix-flakes-nixvim"]
	path = nix-flakes-nixvim
	url = git@github.com:MacaylaMarvelous81/nix-flakes-nixvim
